.ship-lists {
  .ship-name {
    display: flex;
    flex-direction: row;
    line-height: 30px;
    color: darkgrey;
    &.hit {
      text-decoration: line-through;
    }
    .box {
      margin-right: 1rem;
    }
  }
}