$ltGrey: #EEEEEE;
$ltRed: #FEA3AA;
$ltOrange: #F8B88B;
$ltYellow: #FAF884;
$ltGreen: #BAED91;
$ltBlue: #B2CEFE;
$dkPurple: #b1a3ce;
$ltPurple: #c5b8e0;

@import 'header';
@import 'layout';
@import 'boxes';


body {
  text-align: center;
  .hidden {
    display: none;
  }
  .grid-container {
    display: flex;
    justify-content: center;

    .rounded-container {
      margin: 20px;
      border: 0.5px solid lightgrey;
      border-radius: 10px;
      padding: 40px;
      padding-top: 20px;
      text-align: center;
      &.grid {
        .row {
          display: flex;
          flex-direction: row;
        }
      }
      &.all-ships {
        //width: 350px;
        //padding: 20px;
        padding: 1rem;
        width: 15rem;
        .ship {
          display: flex;
          flex-direction: row;
          margin: 15px;
          align-items: center;
          &.vertical-ship {
            display: flex;
            flex-direction: column;
          }
          &.hidden {
            display: none;
          }
        }
      }

      .container-name {
        margin-top: 0;
        margin-bottom: 10px;
        color: darkgrey;
        font-size: 15px;
        button {
          margin-left: 0.5rem;
          border-radius: 0.5rem;
        }
      }
    }
  }

}




