.grid-container {
  display: flex;
  justify-content: center;
}


.grid .row {
  display: flex;
  flex-direction: row;
}

.grid .grey-box {
  background-color: #EEEEEE;
}

.rounded-container .container-name {
  margin-top: 0;
  margin-bottom: 10px;
  color: darkgrey;
  font-size: 15px;
}

body .hidden {
  display: none;
}

body .box {
  height: 30px;
  width: 30px;
  margin: 0.5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body .rounded-container {
  margin: 20px;
  border: 0.5px solid lightgrey;
  border-radius: 10px;
  padding: 40px;
  padding-top: 20px;
  text-align: center;
}


