/*header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #eeeeee;
  height: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .title {
  font-family: 'Shrikhand', cursive;
  color: #b1a3ce;

}

header button {
  margin: 50px;
  border-radius: 5px;
  height: 30px;
  background-color: #c5b8e0;
  color: white;
  opacity: 0.6;
  font-family: 'Raleway', sans-serif;

}

header button:hover {
  opacity: 1;
}
*/
