/*.all-ships {
  width: 350px;

}*/

/*.ship {
  display: flex;
  flex-direction: row;
  margin: 15px;
  align-items: center;
}*/

/*.vertical-ship {
  display: flex;
  flex-direction: column;
}*/

/*.carrier {
  background-color: #fea3aa;

}

.battleship {
  background-color: #f8b88b;
}

.cruiser {
  background-color: #faf884;
}

.submarine {
  background-color: #baed91;
}

.destroyer {
  background-color: #b2cefe;
}*/

/*.ship .mover {
  margin: 0px;
  padding-right: 10px;
  padding-left: 0px;
}*/

/*.ship .fa {
  color: grey;
}*/

/*.ship .move-btn {
  height: 30px;
  width: 30px;
  margin: 5px;
  border-radius: 5px;
}*/
/*
.abs-position {
  position: absolue;
}

.drag {
  cursor: move;
}*/